<?xml version="1.0" encoding="UTF-8"?>
<phpunit
  beStrictAboutOutputDuringTests="false"
  bootstrap="vendor/autoload.php"
  colors="true"
  convertErrorsToExceptions="true"
  convertNoticesToExceptions="true"
  convertWarningsToExceptions="true"
  failOnRisky="false"
  processIsolation="false"
  stopOnError="false"
  stopOnFailure="false"
  verbose="true"
  printerClass="Codedungeon\PHPUnitPrettyResultPrinter\Printer">
  <testsuites>
    <testsuite name="Sample">
      <file>tests/SampleTest.php</file>
    </testsuite>
    <testsuite name="Validation">
      <file>tests/ValidationTest.php</file>
    </testsuite>
    <testsuite name="File Helper">
      <file>tests/FileHelperTest.php</file>
    </testsuite>
  </testsuites>
</phpunit>